body {
    width: 100%;
    font-family:'Courier New', Courier, monospace;
    background-color: whitesmoke;
    /*background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;*/
}

section{
    width: 100%;
    height: 100%;
    margin: 10px;
    padding: 60px;
    background-color: rgba(247, 249, 250, 0.019);
       
}

section#a1 {
    background-color: rgba(240, 248, 255, 0.732);

}


.article {
    background-color: beige;
    align-items: center;
    
}


/*element.style {
    visibility: visible;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transition: opacity 2s cubic-bezier(0.5, 0, 0, 1) 0.2s, transform 2s cubic-bezier(0.5, 0, 0, 1) 0.2s;
    transition-property: opacity, transform;
    transition-duration: 2s, 2s;
    transition-timing-function: cubic-bezier(0.5, 0, 0, 1), cubic-bezier(0.5, 0, 0, 1);
    transition-delay: 0.2s, 0.2s;
}*/


/*.article.caixadetexto {
    width: 30%;
    height: auto;
    position: absolute;
    padding-left: 35px;
    margin-top: 2%;
    align-items: center;
    background-color: brown;


}*/


.myNavbar {
    overflow: hidden;
    background-color: antiquewhite;
    position: sticky;
    top: 0;
    z-index: 20;

}

.myNavbar a{
    float: left;
    font-size: 16px;
    color: grey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.myDropdown {
    float: left;
    overflow: hidden;
    z-index: 20;

}

.myDropdown .myDropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: grey;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    z-index: 20;
}

.myNavbar a:hover, .myDropdown:hover .myDropbtn {
    color: grey;
    z-index: 20;
}

.myDropContent {
    display: none;
    position: absolute;
    background-color:antiquewhite;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 2);
    z-index: 20;
}

.myDropContent a {
    float: none;
    color:gray;
    padding: 12px 16px;
    display: block;
    text-align: left;
    z-index: 20;
}

.myDropContent a:hover {
    background-color: rgba(250, 235, 215, 0.458);
    z-index: 20;
}


.myDropdown:hover .myDropContent {
    display: block;
    z-index: 20;
    }

footer {
    background-color: antiquewhite;
    padding: 10px;
    text-align: center;
    position: static;
    bottom: 0;
}

table, th, td {
    border: none;
    text-align: center;
    width: 50%;
    
}

th, td {
    border: 1px dotted white;
    background-color: antiquewhite;
    border-radius: 8px;
    width: 33%;
    padding: 10px;
}

/*.show-scroll {
    bottom: 5rem;
}

.scrollup {
    position: fixed;
    right: 1rem;
    bottom: -20%;
    background-color: var(--first-color);
    opacity: .8;
    padding: 0 0.3rem;
    border-radius: 0.4rem;
    z-index: var(--z-tooltip);
    transition: .4s;
}*/

a {
    text-decoration: none;
}



.myFooter {
    position: fixed;
}


@media screen and (min-width: 200px) {
    .about__img {
        width: 50px;
        border-radius: 100px;
        background-color: antiquewhite;
    }
}

.about__img {
    position: relative;
    width: 20%;
}



